.card {
  display: block;

  box-shadow: 4px 4px 4px 3px @lightgrey;
  border-radius: 2px;

  background-color: @white;

  &:hover {
    box-shadow: 4px 4px 4px 3px @darkgrey;
  }
}

.card__img-wrapper {
  width: 100%;
  height: 145px;
  overflow: hidden;
  padding: 0;
	box-sizing: border-box;
	display: block;
	appearance: none;
	border: none;
}

.card__img {
  width: 100%;
  display: block;
  margin: 0 auto;
   &:hover {
     transform: scale( 1.2);
     transition: ease 0.5s;
   }
}

.card__title {
  padding: 0 10px;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__link-wrapper {
  display: flex;
  justify-content: space-around;
}

.card__link {
  width: auto;
  display: block;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  margin: 20px 5px;
  color: black;
  background-color: @lightgreen;
  text-decoration: none;
  box-shadow: 2px 2px 3px 0px @darkgrey;
   :hover,:active,:focus {
    box-shadow: none;
    opacity: 0.9;
   }
}

.card__link--code {
  background-color: @lightgrey;
}


.card__but-close {
  display: none;
}

.card__text {
  font-size: 0.9;
  display: block;
  padding: 10px;
  height: 170px;
  overflow: hidden;
  overflow-y: auto;
}



.card--active {
  z-index: 10;
  position: fixed;
  width: 80vw;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;


  box-shadow: none;
  &:hover {
    box-shadow: none;
    //box-shadow: 0 0 70px 500px @darkgrey;
  }

  .card__img {

     &:hover {
       transform: none;
     }
  }

  .card__link-wrapper {
   justify-content: flex-start;
  }

  .card__img-wrapper {
    height: 50%;
  }

  .card__text {
    display: block;
    padding: 10px;
  }

  .card__but-close {
    width: 50px;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
    display: block;
    appearance: none;
    border: none;
    position: fixed;
    top: 0;
    right: 0;

    display: block;
    margin-right: 0;
    margin-left: auto;
    background-color: transparent;
    outline: 1px solid block;
    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: 24px;
      right: 5px;
      width: 40px;
      height: 5px;
      background-color: @darkgrey;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.card__bg-black {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.card__bg-black--active {
  display: block;
}
