.contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__photo {
  display: block;
}

.contacts__greeting {
  max-width: 650px;
}

@media (min-width: @tablet-width) {
  .contacts {
    flex-direction: row;
  }

  .contacts__description-wrapper {
    margin-left: 40px;
  }

}

@media (min-width: @desktop-width) {

  .contacts {
    // margin: 0 40px;
  }


}
