.contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    flex-direction: row;
  }

  .contacts__description-wrapper {
    margin-left: 40px;
  }

}

@media (min-width: @desktop-width) {

  .contacts {
    margin: 0 40px;
  }


}
