.portfolio__list {
  list-style: none;
  margin: 0 40px;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.portfolio__item {
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {}
@media (min-width: @tablet-width) {}
