
html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main {
  padding: 0 10px;
  max-width: 1500px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  main {
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  main {
    padding: 0 40px;
  }
}
